.resume {
    width: 90%; /* Используем проценты для более гибкого размера */
    max-width: 800px; /* Максимальная ширина для контейнера */
    margin: 3vw auto; /* Отступы в процентах для адаптивности */
    padding: 2% 4%; /* Используем отступы в процентах для адаптивности */

    background: white;
    box-shadow: 0 1vw 1vw 1vw rgba(150, 162, 177, .8);
    border-radius: 1%; /* Используем проценты для округления углов */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%; /* Используем проценты для отступов между элементами */
}

.main {
    width: 100%;
    /* height: 100%; Высоту можно не указывать, она будет автоматически регулироваться контентом */
}

.box {
    display: flex;
    /* flex-wrap: wrap; Позволяет элементам переноситься на новую строку при необходимости */
    gap: 2%; /* Используем проценты для отступов между элементами */
}

/* Добавим медиа-запросы для более точной настройки стилей на разных устройствах */

@media screen and (max-width: 600px) {
    .resume {
        width: 90%;
        padding: 5% 8%;
    }
    
    .box {
        flex-direction: column;
    }
}
